@media screen and ( max-width:800px ) {
    .responsive{
        width:102%;
        height:90%;
       }
}
  

body{
font-family: "MyWebFont", sans-serif;
}



img{
    width:1354px; 
    height:530px; 
    margin-top: -21px;
    margin-left:-1%;
    
}
.top{
    background-color: rgb(169 0 0 / 79%);
    padding: 22px 24px;
    margin-top: -1%;
    margin-left: -1%;
    margin-right: -1%;
    
}

 /*words on the image*/

.content{
    position: absolute;
    top: 62%;
    left: 17%;
    transform: translate(-20%, -50%);
    text-transform: uppercase;

    }
    .content h1{
    color: #fff;
    font-size: 55px;
    letter-spacing: 15px;
    line-height: 1.6;
    }
    .content h1 span{
    color: #111;
    font-size:32px;
    }
    .content a{
    background: rgb(169 0 0 / 79%);
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    color: #000;
    }
    .content a:hover{
    background: #034e88;
    color: #fff;
}
/**/

.column {
    float: left; /* products ssection*/
    width: 25%;
    padding: 54px;
    height: 330px;
    box-sizing: border-box;

    
}
.column img{
    width:150px;
    height:150px;
   
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}
.logo1 img{ /* Coffee shpo logo */
    width:200px; 
    height:200px;
    margin-left:45%;
}
.aboutDiscription{ /* about section -discription */
    text-align: center; 
    letter-spacing: 1; 
    width:64%; 
    margin-left:20%;
    font-size:28px;
}
.subtopic{/* product section */
    text-align: center;
    font-size:50px;
}
.subtopic1{/* breakfast,lunch,dinner,beverages topics */
    letter-spacing:2;
    line-height:2.5;
    text-align: center;
    border: 5px rgb(169 0 0 / 79%); 
    border-radius: 20px;
    background-color:  rgb(169 0 0 / 79%);
    cursor:pointer;

}
.subtopic11{/*------------------ breakfast,lunch,dinner,beverages topics sections-------------------- */
    line-height:1.8;
    letter-spacing:3px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    transition: background-color .5s;
    
    
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    }
.subtopic11 .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; 
}/*---------------------------------------------------------------------------------------------------*/
table, td {/* table css*/
    border:1px solid black;
 }
 th{
    background-color: rgb(169 0 0 / 79%);
 }
 table{
    width:40%; 
    height:40%;
    margin-left:30%;
 }

.navigation{    /* navigation bar css*/
    text-align: right;
    background-color:rgb(169 0 0 / 79%);
    padding: 22px 24px;
    margin-top: -1.7%;
    margin-left: -1%;
    margin-right: -1%;
   
   
}
.navigation a{ /* navigation bar links css*/
    text-decoration: none;
    color: #000;
    
}
                /*------ blinking css-----*/
.blink {
    animation: blinker 1.5s linear infinite;
    color: red;
    font-size:30px;
    text-align: center;
}
.fotter{
    text-align:center;  
    font-size:20px; 
    background-color:rgb(169 0 0 / 79%);
    padding:13px 270px;  
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom:-1%;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}               /*-----------------------*/

@media screen and (max-width: 700px) {
    .column {        /* responsive */
        width: 100%;
    }
    .navigation{
        margin-top: -4%; 
        text-align: center;
    }
    .fotter{
        font-size:15px; 
        padding:3px 100px; 
           

    }
} 
